<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/reset.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/indexStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/catalogo.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/paginacao.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/catalogo_prompt.css')}}">
</head>

<body>
{% extends "header.html" %}

{%block content%}
    <main>
      
        <section class="conteudo__catalogo">
          
            <div class="conteudo__catalogo__tabela bloco">
              <form action="{{ url_for('catalogo')}}" method="POST">
              <div class="tabela_pesquisa">
              <input class="pesquisa__input" type="text" id="texto" name="texto" placeholder="Nome do produto">
              <input style="display: none;" id="texto_recebido" name="texto_recebido">
            <button class="fa-solid fa-magnifying-glass pesquisa__botao" type="submit" onclick="armazenaTexto()"></button>
          </div>
            </form>
           
              <!-- <button class="fa-solid fa-magnifying-glass pesquisa__botao" onclick="enviarMensagemParaPython()"></button> -->
              <div class="tabela__button">
                <button id="deletar" class="button">Deletar</button>
                <button id="modificar" class="button">Modificar</button>
                <button id="adicionar" class="button">Adicionar</button>

              </div>
              <div id="prompt_box" class="prompt__box">
                <div class="prompt__novo">
                  <div class="prompt__texto">
                  <h2 id="prompt_titulo">Modificando o produto: </h2>
                  <p  id="produto_prompt"></p>
                <p>Insira o nome aqui</p>
                </div> 
                <input id="prompt_input" placeholder="Insira o nome" class="prompt__nome prompt__entrada" type="text">
                <p>Insira a quantidade aqui</p>
                <input id="prompt_input" placeholder="Insira a quantidade" class="prompt__quantidade prompt__entrada" type="text">
                <p>Insira o preço aqui</p>
                <input id="prompt_input" placeholder="Insira o preço" class="prompt__preco prompt__entrada" type="text">
                <p>Insira a descrição</p>
                <input id="prompt_descricao" placeholder="Insira a descrição" type="text" class="prompt__descricao prompt__entrada">
              </div>

                <button id="prompt_button" class="prompt__button">Enviar</button>
                <button id="prompt_adicionar_button" class="prompt__button">Enviar</button>
            </div>
                <table class="table table-bordered">
                  
                  <thead>
                    <tr>
                      <th id="thead__Id" >Id</th>
                      <th id="thead__nome">Nome</th>
                      <th id="thead__quantidade">Quantidade</th>
                      <th id="thread__preco">Preço</th>
                      <th id="thead__descricao">Descrição</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% for produto_id,produto_itens in catalogo.items() %}
                       <tr>
                            <td>{{produto_id}}</td>
                            <td>{{produto_itens['nome']}}</td>
                            <td>{{produto_itens['quantidade']}}</td>
                            <td>{{produto_itens['preco']}}</td>
                            <td>{{produto_itens['descricao']}}</td>  
                            <!-- <td onclick="enviarMensagemParaPython()" class="adicionar_carrinho"><button class="adicionar_carrinho__button fa-solid fa-cart-shopping"></button></td> -->
                       </tr>
                  {%endfor%}          
                </tbody>
                </table>
                {{ paginacao.links }}
              </div>
        </section>
    </main>

{%endblock%}
</body>
</html>