<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/indexStyle.css') }}">
    <title>Document</title>
</head>
<body>
  {% extends "header.html" %}
{%block content%}
    <main>
        <section>
            <div class="container text-center">
                <h2> Exemplo:  {{ titulo}} </h2>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Quantidade</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                  {% for produto in catalogo%}
                       <tr>
                            <td>{{produto.nome}}</td>
                            <td>{{produto.quantidade}}</td>
                       </tr>
                  {%endfor%}          
                  
                </tbody>
                </table>
              </div>
            
        </section>
    </main>
    <script>
        document.querySelector("#changeTheme").addEventListener("click", () => {
        document.body.classList.toggle("mudar-tema");
});
</script>
{%endblock%}
</body>
</html>