<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/reset.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/indexStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/catalogo.css')}}">
    <title>Document</title>
</head>

<body>
  {% extends "header.html" %}
{%block content%}
    <main>
        <section class="conteudo__catalogo">
            <div class="conteudo__catalogo__tabela">
                <h2> Exemplo:  {{ titulo}} </h2>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nome</th>
                      <th>Quantidade</th>
                      <th>Preço</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                  {% for produto_id,produto_itens in catalogo.items() %}
                       <tr>
                            <td>{{produto_id}}</td>
                            <td>{{produto_itens['nome']}}</td>
                            <td>{{produto_itens['quantidade']}}</td>
                            <td>{{produto_itens['preco']}}
                       </tr>
                  {%endfor%}          
                  
                </tbody>
                </table>
              </div>
        </section>
    </main>
    <script>
        document.querySelector("#changeTheme").addEventListener("click", () => {
        document.body.classList.toggle("mudar-tema");
});
</script>
{%endblock%}
</body>
</html>