<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/reset.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/indexStyle.css') }}">
    <title>Document</title>
</head>
<header class="cabecalho">
    <div class="cabecalho__empresa">
        <h1 class="cabecalho__empresa__titulo">LetStore</h1>

    </div>
    <ul class="cabecalho__lista">
        <li><a class="cabecalho__lista__link" href="{{url_for('principal')}}">Home</a></li>
        <li><a class="cabecalho__lista__link" href="{{url_for('catalogo')}}">Catalogo</a></li>
        <li> <select name="Sobre Nós">
         <option value=""><a href="www.youtube.com">Teste</a></option>
        </select></li> 
       
    </ul>
    <div class="cabecalho__extras">
        <a href="{{url_for('download')}}" download>
        <button class="cabecalho__extras__Download button">Download</button>
    </a>
        <button id="changeTheme" class="cabecalho__extras__Cor button">Mudar Tema</button>
    </div>
</header>
    {% block content %}
    {% endblock %}

    <footer>
        <p style="background-color:  blue">By ConglomeradoLet</p>
    </footer>
</body>
</html>