<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/produtos.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/paginacao.css')}}">
    
    <title>Document</title>
</head>
<body>
    {% extends "header.html" %}
    {%block content %}

    <main class="bloco">
        <div id="compras">
        <i id="carrinhoCompras" class="fa-solid fa-cart-shopping" style="color: #B197FC;"></i>
        <p id="qtdCompras">0</p>
        </div>
        <dialog id=dialogoCompras>
            <div class="comprasInformacoes">
                <div class="listaProdutos">
                <div class="tabelaHead">
                    <div id="Tnome">Nome</div>
                    <div id="Tpreco">Preço</div>
                    <div id="Tquantidade">Quantidade</div>
                </div>
                <div class="tabelaData">
                    <div class="dataNomes"></div>
                    <div class="dataPrecos"></div>
                    <div class=""></div>
                </div>
            
            </div>
            <hr>
            <div class="comprasInput">
                <div class="informarcoesEnvio">
                <input id="destino" list="destinos" name="destino" >
                <datalist id="destinos">
                </datalist>
                <input id="destinatario" name="destinatario" type="text" placeholder="Insira o nome do destinatário">
            </div>
                <input id="finalizarCompra" type="submit" value="Enviar">
            </div>
            
        </div>
        </dialog>
        <section class="grid__conteiner" id="gridMain">
            {% for produto_id,produto_itens in catalogo.items() %}
            <div id="box" class="grid__box">
                <div class="box__img">
                <img class="remedio__imagem" src="{{produto_itens['link']}}" alt="">
                </div>
            
                <div class="box__text">
                <p id="nome">{{produto_itens['nome']}}</p>
                <p id="preco">R$ {{produto_itens['preco']}}</p>
                </div> 
                <button id="comprasBotao">Adicionar ao Carrinho</button>
                </div>

            {% endfor %}
            
        </section>
        {{ paginacao.links }}

    </main>


    <script  type="module" src="{{ url_for('static', filename='produtos.js') }}"></script>

    {% endblock %}

</body>
</html>