<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/produtos.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/paginacao.css')}}">
    
    <title>Document</title>
</head>
<body>
    {% extends "header.html" %}
    {%block content %}

    <main class="bloco">
        <div id="compras">
        <i id="carrinhoCompras" class="fa-solid fa-cart-shopping" style="color: #B197FC;"></i>
        <p id="qtdCompras">0</p>
        <button id="finalizarCompra">Comprar</button>
        </div>
        <section class="grid__conteiner" id="gridMain">
            {% for produto_id,produto_itens in catalogo.items() %}
            <div id="box" class="grid__box">
                <div class="box__conteudo">
                <img class="remedio__imagem" src="{{produto_itens['link']}}" alt="">
                <i id="carrinho" class="fa-solid fa-cart-shopping " style="color: #74C0FC;"></i>

                <div class="box__text">
                <p id="nome">{{produto_itens['nome']}}</p>
                <p id="preco">R$ {{produto_itens['preco']}}</p>
            </div>
                </div>
            </div>
            {% endfor %}
            
        </section>
        {{ paginacao.links }}


    </main>


    <script  type="module" src="{{ url_for('static', filename='produtos.js') }}"></script>

    {% endblock %}

</body>
</html>