@import url(variaveis.css);
@import url(fontes.css);


.form{
    color: var(--cor-texto);
    background-color: var(--cor-de-fundo);
    margin-top: 8%;
    width:25%;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    height: auto;
    border-radius: 6px;
    font-size: 14px;
    border: 1px solid black;
    gap: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.form > h1{
    margin-top: 30px;
    margin-bottom: 15px;
}

.form__email, .form__senha{
    border-radius: 6px;
    padding: 12px 0px;
    width: 240px;
    text-align: center;
    border: transparent;
    font-weight: 800;
}

.form__btn{
    padding: 12px 0px;
    width: 240px;
    border-radius: 6px;
    background-color: rgb(10, 81, 233);
    cursor: pointer;
    border: transparent;
    font-weight: 800;
    color: var(--cor-texto);
}

.form > strong > a, .form > a{
    color: aqua;
    font-weight: 800;
    margin-bottom: 30px;
}

.form__btn:hover{
    background-color: white;
    color: black;
}

.form__btn:active{
    background-color: antiquewhite;
    color: black;
}
