@import url("variaveis.css");


.conteudo__catalogo{
    background-color: var(cor-de-fundo);
}
.conteudo__catalogo__tabela{
   overflow: auto; 
   padding-bottom: 50px;

}
th{
    background-color: var(--cor-tabela-head);
    height: 50px;
    width: 100px;
    color: var(--cor-texto);
}

th:first-child{
    border-top-left-radius: 16px;
}
th:last-child{
    border-top-right-radius: 16px;
}

th,td{
    text-align: center;
}

tr{
    color: var(--cor-texto);
}
tr:nth-child(even) {
    background-color: var(--cor-tabela-itens);
}

tr:nth-child(odd){
    background-color: var(--cor-tabela-itens-secundario);
}
tr:hover{
    background-color: var(--cor-tabela-itens-hover);
}

.table, th, td{
    /* border: 2px solid black; */
    height: 3.25em;
}

.table{
    margin-top: 3em;
    overflow-x: auto;
    border-spacing: 0;
}



#thead__id{
    width: 6em;
}
#thead__nome{
    width: 8em;
}
#thread__quantidade{
    width: 10em;
}
#thread__preco{
    width: 10em;
}
#thead__descricao{
    width: 60em;
   
}
