@import url("variaveis.css");

.conteudo__catalogo__tabela{
   overflow: auto; 
   padding-bottom: 50px;
}

th{
    background-color: rgb(197, 189, 189);
    height: 50px;
    width: 100px;
    color: var(--cor-texto);
}
.table{
    border-collapse: collapse;
}

th,td{
    text-align: center;
}
tr:nth-child(even) {
    background-color: #858383;
}
tr:hover{
    background-color: rgb(209, 236, 245);
}
.table, th, td{
    border: 2px solid black;
    height: 3rem;

}
.table{
    overflow-x: auto;
    max-width: 100%;
}

#thead__id{
    width: 3rem;
}
#thead__nome{
    width: auto;
}
#thread__quantidade{
    width: auto;
}
#thread__preco{
    width: auto;
    width: 3rem;
}
#thead__descricao{
    width: 40rem;
   
}