@import url("variaveis.css");


.conteudo__catalogo{
    background-color: var(cor-de-fundo);
    height: 81.25em;
}

.conteudo__catalogo > .bloco{
    height: 100%;
}
.conteudo__catalogo__tabela{
   
   padding-bottom: 50px;
   height: auto;

}
th{
    background-color: var(--cor-tabela-head);
    height: 50px;
    width: 100px;
    color: var(--cor-texto);
}

th:first-child{
    border-top-left-radius: 16px;
}
th:last-child{
    border-top-right-radius: 16px;
}

th,td{
    text-align: center;
}

tr{
    color: var(--cor-texto);
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: var(--cor-tabela-itens);
}

tr:nth-child(odd){
    background-color: var(--cor-tabela-itens-secundario);
}
tr:hover{
    background-color: var(--cor-tabela-itens-hover);
}


.table, th, td{
    font-family: "Source Code Pro", monospace;
    font-weight: 500;
    height: 3.25em;
}
td{
    height: 4.5em;
}
.table{
    overflow-x: hidden;
    border-spacing: 0;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.8);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;

}



#thead__id{
    width: 6em;
}
#thead__nome{
    width: 12em;
}
#thread__quantidade{
    width: 10em;
}
#thread__preco{
    width: 10em;
}
#thead__descricao{
    width: 60em;
   
}

.tabela_pesquisa{
    display: flex;
    margin: 1.25em 0;
    gap: 0px;
}
.pesquisa__input{
    width: 60em;
    padding: 10px 5px;
    border-right:hidden;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.pesquisa__botao{

    cursor: pointer;
    padding: 10px 15px;
    background-color: rgb(128, 128, 227);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    transition: 0.3s ease;
}

.pesquisa__botao:hover{
    background-color: var(--cor-tabela-itens-hover);
}
.pesquisa__botao:active{
    background-color: rgb(255, 0, 0);
}
