
:root{
    --cor-de-fundo: rgb(255, 255, 255);
    --cor-barra: rgb(25, 4, 130);
    --cor-texto-barra:rgb(255, 242, 242);
    --cor-texto: black;
    --cor-texto-hover: rgb(229, 224, 255);
    --cor-titulo: black;
}

.mudar-tema{
    --cor-de-fundo: rgb(34, 40, 49);
    --cor-barra: rgb(49, 54, 63);
    --cor-texto-barra: rgb(238, 238, 238);
    --cor-texto: white;
    --cor-texto-hover: rgb(118, 171, 174);
    --cor-titulo: rgb(238, 238, 238);
}


body{
    background-color: var(--cor-de-fundo);
}

.cabecalho{
    
    background-color: var(--cor-barra);
    border-radius: 12px;
    align-self: center;
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    
}

.cabecalho__lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}


.cabecalho__lista__link{
    text-align: center;
    color: var(--cor-texto-barra);
    padding: 15 0 0 10;
    text-decoration: none;
    font-weight: 700;
}
.cabecalho__lista__link:hover{
    color:var(--cor-texto-hover);
    text-decoration: underline;
}

.cabecalho__extras{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    /* padding: 15 0 0 10; */
    margin-right: 1rem;
}
.button{
    font-weight: bold;
    cursor: pointer;
    height: 3em;
    border-radius: 10px;
    border-color: transparent;
    color: white;
    background-color: blue;
}

.button:hover{
    background-color: white;
    color: black;
}

.conteudo{
    width: 80%;
    margin-left: 10%;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
}

.conteudo__titulo{
    font-size: 3em;
    color: var(--cor-titulo);
    font-weight:600;

}

.conteudo__texto{
    text-align: justify;
    width: 60%;
    color: var(--cor-texto);
    font-size: 2em;
    font-weight:500;
}