@media (max-width: 1920px){
    .bloco{
        width: 100%;
        margin: 0px;
    }

    .table{
        width: 80%;
    }

    .grid__conteiner{
        grid-template-columns: repeat(5, [col-start] 1fr [col-end]);
        align-items:start;
    }

    .box__conteudo{
        max-width: 200px;
        height: 230px;
    }

    .showDialogoCompras{
        width: 300px;    
        left: 75%;
    }
}