@import url(variaveis.css);

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 12px;
    margin-top: 10px;
}

.pagination li {
    margin-top: 25px;
}
.pagination .page-item:last-child, .page-item:first-child{
    visibility: hidden;
}
.pagination span{
  display: none;
}
.pagination li a {
    text-decoration: none;
    color: var(--cor-texto);
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 16px;
}
.pagination li a:hover{
    background-color: var(--cor-tabela-itens-hover);
}
.pagination li.active a {
    background-color: var(--cor-tabela-itens-hover);
    color: var(--cor-texto);
}

.page-item a{
    text-decoration: none;
    color: var(cor-texto-barra);
}

