.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 16px;
}

.pagination li.active a {
    background-color: var(--cor-de-fundo-tabela);
    color: var(--cor-texto);
}