@import url(variaveis.css);

.bloco{
    height: 1800px;
    overflow: hidden;
}

.grid__conteiner{
    background-color: var(--cor-de-fundo-bloco);
    width:90%;
    height: fit-content;
    overflow: hidden;
    display: grid;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(7, [col-start] 1fr [col-end]);
    align-items:start;
    margin-top: 10px;
}


.grid__box{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    -webkit-box-shadow: 10px 9px 30px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 30px -19px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 30px -19px rgba(0,0,0,0.75);
    display: flex;
    border: .5px solid grey;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    height: 250px;
    width: 200px;
    align-items: center;
    user-select: none;
}


.box__img{
    margin-top: 10px;
    width: 100%;
    height: 150px;
   
}

.box__img img{
    height: 100px;
    object-fit: cover;
}
.grid__texto{
    display: flex;
    flex-direction: column;
    margin: auto;

}

#comprasBotao{
    max-width: 150px;
    border-radius: 12px;
    padding: 0 8px;
    background-color: hsl(207, 93%, 60%);
    cursor: pointer;
    color: var(--cor-texto-barra);
    font-weight: 700;
    position: relative;
    margin-bottom: 10px;
    font-family: "Andika";
}

#comprasBotao:hover{
    background-color: hsl(207, 93%, 50%);
}

#compras{
    position: absolute;
    bottom: 84%;
    left: 93%;
    background-color: rgb(247, 229, 229);
    border-radius: 32px;
    padding: 10px;
    /* display: none; */
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
}


#carrinhoCompras{
    font-size: 25px;
}

#qtdCompras{
    position: absolute;
    left: 70%;
    top: 50%;
    background-color: red;
    color: rgb(187, 181, 181);
    border-radius: 60px;
    height: 18px;
    width: 18px;
}


.showDialogoCompras{
    width: 400px;
    height: 100vh;
    left: 84%;
    background-color: var(--cor-de-fundo-bloco);
   
}

.showDialogoCompras::backdrop{
    background-color: rgb(173, 171, 171,0.5);
}

.comprasInformacoes{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
    height: 100%;
    gap: 10px;
    
}
.listaProdutos{
    height: 50%;
    overflow-y: auto;
}

.tabelaHead{
    display: flex;

}

.tabelaHead #Tnome,#Tpreco,#Tquantidade{
    width: 150px;
    border: 1px outset black
}




.comprasInformacoes .comprasInput{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.comprasInput input{
    width: 150px;
    border-radius: 6px;
    padding: 4px 0;
}
.comprasInput .informacoesEnvio{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}


.destinos{
    height: 50px;
    overflow-y: scroll;
    width: 200px;
}

.produtoDados{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px inset black;
    
}

.produtoDados > div {
    text-align: center;
    width:150px;
}

.produtoDados > div{
    border: 1px outset black;
}

.comprasCusto, .comprasFrete{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.comprasCusto > h4, .comprasFrete > h4{
    flex: 1;
    box-sizing: border-box;
    display: block;
    text-align: left;
    font-size: 20px;
}

.comprasCusto > p, .comprasFrete > p{
    font-size: 20px;
    font-weight: bolder;
    margin-right: 15px;
}
