@import url(variaveis.css);

.bloco{
    height: auto;
    overflow: hidden;
}

.grid__conteiner{
    background-color: var(--cor-de-fundo-bloco);
    width:90%;
    height: 100%;
    overflow: scroll;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 12px;
    padding: 0 30px;
    overflow: hidden;
}

.grid__box{
    margin: 20px 0;
}

.box__conteudo{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.box__conteudo > img{
    width: 50%;
    height: 90%;
    aspect-ratio: 4/4;
}
