:root{
    --cor-de-fundo: rgb(185, 184, 184);
    --cor-de-fundo-bloco: #F6F5F2;
    --cor-barra: rgb(45, 58, 177);
    --cor-texto-barra:rgb(255, 242, 242);
    --cor-texto: black;
    --cor-texto-hover: rgb(229, 224, 255);
    --cor-titulo-barra: rgb(255, 242, 242);
    --cor-titulo: black;
    --cor-tabela-itens:rgb(151, 231, 225);
    --cor-tabela-itens-secundario: #F8F6E3;
    --cor-tabela-head: rgb(122, 162, 227);
    --cor-tabela-itens-hover: rgb(106, 212, 221);
}

.mudar-tema{
    --cor-de-fundo: rgb(34, 40, 49);
    --cor-de-fundo-bloco:rgb(4, 28, 50); 
    --cor-barra: rgb(49, 54, 63);
    --cor-texto-barra: rgb(238, 238, 238);
    --cor-texto: white;
    --cor-texto-hover: rgb(118, 171, 174);
    --cor-titulo-barra: rgb(238, 238, 238);
    --cor-titulo: rgb(238, 238, 238);
    --cor-tabela-itens:rgb(57, 62, 70);
    --cor-tabela-itens-secundario: rgb(34, 40, 49); 
    --cor-tabela-head:rgb(41, 0, 1);
    --cor-tabela-itens-hover: rgb(214, 90, 49); 
}